body {
  background-color: azure;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  height: 2px;
  width: 20%;
}
h1{
color: rgb(21, 182, 69);
}

h3{
color: rgb(21, 182, 69);
}